<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <title>Title</title>
</head>
<body>
    <table style="border: 100px">
        <th>상품번호</th>
        <th>상품이름</th>
        <th>상품가격</th>
        <tr th:each="product : ${products}" th:id="${product.no}" >
            <td th:class="pd-no" th:text="${product.no}"></td>
            <td th:class="pd-name" th:text="${product.name}" th:value="${product.name}"></td>
            <td th:class="pd-amount" th:text="${product.amount}" th:value="${product.amount}">원</td>
            <td><button th:onclick="order([[${product.no}]])">주문</button></td>
        </tr>
    </table>
</body>
<script>
    // var IMP = window.IMP;
    // IMP.init("");
    //
    function order(pdNo) {
        let no = pdNo;
        let parent = document.getElementById(pdNo);
        let name = parent.querySelector('.pd-name').innerText;
        let amount = parent.querySelector('.pd-amount').innerText;
        $
        $.ajax({
            url: "/order",
            method: "POST",
            dataType: JSON,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                pdNo: no,
                pdName: name,
                pdAmount: amount
            }),
            success : function (result) {
                console.log("주문 성공");
                console.log(result.orderId);
                // requestPay(result.orderId, result.pdName, result.amount)
            },
            error : function (request,status,error) {
                console.log(request);
                console.log(status);
                console.log(error);
                console.log("주문 실패");
            }
        })
    }
    function requestPay(orderId, pdName, amount) {
        console.log("결제 성공");
        // IMP.request_pay(
        //     {
        //         pg: "html5_inicis",		//KG이니시스 pg파라미터 값
        //         pay_method: "card",		//결제 방법
        //         merchant_uid: "1234578",//주문번호
        //         name: "당근 10kg",		//상품 명
        //         amount: 100,			//금액
        //         buyer_email: "gildong@gmail.com",
        //         buyer_name: "홍길동",
        //         buyer_tel: "010-4242-4242",
        //         buyer_addr: "서울특별시 강남구 신사동",
        //         buyer_postcode: "01181"
        //
        //     },
        //     function (rsp) {
        //         //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
        //         if (rsp.success) {
        //             $.ajax({
        //                 url: "/payment/validate/" + rsp.imp_uid,
        //                 method: "GET",
        //                 contentType: "application/json",
        //                 data: JSON.stringify({
        //                     imp_uid: rsp.imp_uid,            // 결제 고유번호
        //                     merchant_uid: rsp.merchant_uid,   // 주문번호
        //                     amount: rsp.paid_amount
        //                 }),
        //             }).done(function (data) {
        //                 // 가맹점 서버 결제 API 성공시 로직
        //             })
        //         } else {
        //             alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
        //         }
        //     }
        // );
    }
</script>
</html>